body {
  font-family: "Comic Sans";
  color: #201b2d;
  font-size: 20px;
  padding: 0;
  margin: 0;
  background-color: beige;
}
header {
  margin-left: 45%;
  font-size: 15px;
}

h1 {
  font-size: 40px;
  margin: 3px 10px;
}

.list {
  display: flex;
  background-color: cornflowerblue;
  line-height: 40px;
  list-style: none;
  margin: 0;
  align-items: center;
  justify-content: center;
}
li {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
a {
  text-decoration: none;
  color: black;
  font-family: "montserrat black";
  cursor: pointer;
}
a:hover {
  font-size: 120%;
}
.apps {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.app {
  width: calc(20% - 20px);
  text-align: center;
  margin: 0 15px;
}
h3:hover {
  transform: scale(1.1);
  transform-origin: 0 0;
}
.icon {
  height: 200px;
  width: 250px;
  padding-top: 5px;
}
button {
  height: 50px;
  margin-top: 20px;
}
